#
# Sample scripted installation file
#
# Accept the VMware End User License Agreement
vmaccepteula
# Set the root password for the DCUI and Tech Support Mode
rootpw Password123!
reboot
# keyboard German will be defined script
# The install media is in the CD-ROM drive
install --firstdisk --overwritevmfs --novmfsondisk
network --bootproto=static --device=vmnic0 --ip=10.10.0.84 --netmask=255.255.255.0 --gateway=10.10.0.103 --nameserver=10.10.0.10 --hostname=ESXiNode4.labbuildr.local
keyboard German
partition Datastore1@ESXiNode4 --ondisk=mpx.vmhba1:C0:T1:L0
partition Datastore2@ESXiNode4 --ondisk=mpx.vmhba1:C0:T2:L0
partition Datastore3@ESXiNode4 --ondisk=mpx.vmhba1:C0:T3:L0
partition Datastore4@ESXiNode4 --ondisk=mpx.vmhba1:C0:T4:L0
%firstboot --interpreter=busybox
# Enable SSH and the ESXi Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

### NTP CONFIGURATIONS ###
cat > /etc/ntp.conf << __NTP_CONFIG__
restrict default kod nomodify notrap noquerynopeer
restrict 127.0.0.1
server 0.vmware.pool.ntp.org
server 1.vmware.pool.ntp.org
__NTP_CONFIG__
/sbin/chkconfig ntpd on

# enter maintenance mode
esxcli system maintenanceMode set -e true
# Needed for configuration changes that could not be performed in esxcli
esxcli system shutdown reboot -d 60 -r "rebooting after host configurations"
